<div class="container-fluid">
	<div class="d-sm-flex align-item-center justify-content-between mb-4">
		<h1 class="h3 mb-2 text-gray-800">Book Details</h1>
	</div>

<div class="card shadow mb-4">
	<div class="card-header py-3">
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th><strong>Title:</strong></th>
						<th><strong>Author Name:</strong></th>
					</tr>
				</thead>
				<tbody>
					<tr>
				   	<td><%= @book.title%></td>
				   	<td>
				   		
				   		<% @book.authors.each do |author| %>
				   	 		<%= author.first_name+" "+author.last_name%>
				   	 	<%end%>
				   	</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
<%= link_to 'Back', books_path %>
